/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.nav-link.active {
    position: relative;
    text-decoration: none;
    color: #e7f3fe;
}

    .nav-link.active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #e7f3fe;
        animation: underline .3s ease forwards;
    }

@keyframes underline {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}