<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shield_Tech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shield_Tech.styles.css" asp-append-version="true" />
</head>
<body>
    <header style="background-color: #080e23;  padding: .75em 3.75em;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" >
            <div class="container-fluid">
                <a class="navbar-brand italian " style="    color: #e7f3fe;" asp-area="" asp-page="/Index">ShieldTech</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link " style="    color: #e7f3fe;" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="    color: #e7f3fe;" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " style="    color: #e7f3fe;" asp-area="" asp-page="/Store">Store</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a class="footer-navbar-brand text-white " style="text-decoration:none; font-weight:700" asp-area="" asp-page="/Index">Shield Tech</a>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-subscribe">
                <h3>Subscribe to our newsletter</h3>
                <form>
                    <input type="email" placeholder="Enter your email address">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>