@using Microsoft.AspNetCore.Identity
@using Shield_Tech.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" >
            <a id="manage" style="color: #e7f3fe;" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
        <li class="nav-item" style="color: #e7f3fe;">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link  border-0" style="color: #e7f3fe;">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register" style="color: #e7f3fe;">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login" style="color: #e7f3fe;">Login</a>
    </li>
}
</ul>
