@page
@model Shield_Tech.Pages.AboutUsModel
@{
}



<div class="row" style="background-color: #080e23 ;color:#e7f3fe; padding: 5.75em 3.75em;">
    <h3 class="text-center mb-3" style="font-size:84px">About Us</h3>
    <p class="text-center">
        Welcome to ShieldTech Marketplace – Your Trusted Partner in Cybersecurity.<br />
        At ShieldTech Marketplace, we believe that everyone deserves the right to secure their digital life. Established in 2021 by cybersecurity experts Jane Doe and John Smith, our mission is to provide comprehensive, cutting-edge cybersecurity solutions accessible to individuals and businesses alike.
    </p>
</div>

<div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-start flex-column">
        <h3 style="margin:0 0 30px 50px">Our Journey</h3>
        <p style="margin-left:50px; ">
            Born out of a shared vision to democratize cybersecurity, Jane and John saw the need for a one-stop-shop where the latest and most effective cybersecurity tools and knowledge are readily available. With over two decades of combined experience in network security, ethical hacking, and digital forensics, they’ve curated a platform that not only sells products but also educates and empowers its customers
        </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="~/images/journey.jpg" class="rounded-3 " alt="our journey" style="width:70%" ; height="70%" />
    </div>
</div>
<div class="row d-flex flex-row-reverse">
    <div class="col-md-6 d-flex justify-content-center align-items-start flex-column">
        <h3>What We Do</h3>
        <p>
            ShieldTech Marketplace offers a handpicked selection of the finest cybersecurity software, hardware, and services. From antivirus programs and secure routers to bespoke incident response services, we’ve got you covered. Our platform is more than just a store; it’s a resource where individuals and companies can find the tools and information they need to protect themselves in an increasingly digital world.
        </p>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="~/images/whatwedo.jpg" class="rounded-3 " alt="our journey" style="width:80%" ; height="90% ;" />
    </div>
</div>
<div class="values " style="padding: 5.75em 3.75em">
    <h3 class="text-center">Our Values</h3>
    <hr style="width:50px;height:2.5px; margin:0 auto ; font-weight:bolder" class="mb-5" />
    <div class="row d-flex align-items-center justify-content-center ">
        <div class="col-md-6 ">
            <div class="value">
                <h6 class="mb-3">Trust</h6>
                <p>We build relationships based on trust and integrity, ensuring our products and services meet the highest standards of security and reliability.</p>
            </div>
            <div class="value">
                <h6 class="mb-3">Empowerment</h6>
                <p>We empower our customers with the knowledge and tools they need to defend against digital threats.</p>
            </div>
            <div class="value">
                <h6 class="mb-3">Innovation</h6>
                <p>
                    We stay ahead of the curve, constantly seeking out the latest technologies and solutions in cybersecurity.
                </p>
            </div>
        </div>
        <div class="col-md-6 ">
            <img src="/images/value.jpg" alt="values" style="border-radius:50px 0 50px 0; width:100%;" />
        </div>


    </div>
</div>
<div class="founders">
    <h3 class="text-center">Meet Our Founders</h3>
    <hr style="width:50px;height:2.5px; margin:0 auto ; font-weight:bolder" class="mb-5" />
    <div class="row gap-3 d-flex justify-content-center" style="padding: 0 3.75em">
        <div class="card  col-md-6" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="/images/john.jfif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">With a background in cybersecurity for financial institutions, Jane brings a wealth of knowledge in protecting against digital financial crimes.</p>
                        <p class="card-text"><small class="text-muted">Founder</small></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="card  col-md-6" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="/images/chioma.jfif" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Chima Uchena</h5>
                        <p class="card-text">A former ethical hacker for government agencies, John has extensive experience in penetration testing and cybersecurity defense strategies.</p>
                        <p class="card-text"><small class="text-muted">Co-Founder &Aacute; CTO</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
