
<style >
/* Style for Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 800px; /* Adjust the width as needed */
    margin: auto;
    border-radius: 10px;
    text-align:center;
}

/* Hide slides by default */
.mySlides {
    display: none;
}

/* Style for Slideshow Controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1;
   
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

    /* Style for Slideshow Navigation Icons */
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

</style >
